[Unit]
Description=StockControl API
After=network.target docker.service
Requires=docker.service

[Service]
WorkingDirectory=/opt/stockcontrol/api
ExecStart=/opt/stockcontrol/api/StockControl.Api
Restart=always
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=stockcontrol-api
User=www-data
Environment=DOTNET_PRINT_TELEMETRY_MESSAGE=false
EnvironmentFile=/etc/stockcontrol/stockcontrol-api.env

[Install]
WantedBy=multi-user.target
