ASPNETCORE_ENVIRONMENT=Production
ASPNETCORE_URLS=http://127.0.0.1:5093

ConnectionStrings__Default=Server=127.0.0.1,1433;Database=StockControl;User Id=sa;Password=CAMBIAR_PASSWORD_SQL;TrustServerCertificate=True;MultipleActiveResultSets=true

Jwt__Issuer=StockControl
Jwt__Audience=StockControlClient
Jwt__Key=CAMBIAR_CLAVE_LARGA_MINIMO_32_BYTES
Jwt__AccessTokenMinutos=60
Jwt__RefreshTokenDias=7

Cors__Origenes__0=https://stock.hotelesdepeten.com

Seed__AdminEmail=admin@hotelesdepeten.com
Seed__AdminPassword=CAMBIAR_PASSWORD_ADMIN_INICIAL
